
.tab-panel {
  position: relative;
}

@media (max-width: 768px) {
  .tab-panel .panel {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #d8d8d8;
  }
}

.tab-panel .panel-title a{
  cursor: pointer;
  position: relative;
  padding: 15px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.tab-panel .panel-title {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
}


.tab-panel .panel-title:hover,
.tab-panel .active.panel-title {
  color: #000;
}

@media (max-width: 768px) {
  .tab-panel .panel-title {
    width: 100%;
    border: none;
    position: relative;
  }
}

@media (max-width: 768px) {
  .tab-panel .panel-title a{
    padding: 10px;
  }
}


@media (max-width: 768px) {
  .panel .panel-title:after {
    content: '\002B';
    position: absolute;
    right: 10px;
    top: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .panel.open .panel-title:after {
    content:none;
    content: '\002D';
  }
}

@media (min-width: 768px) {
  .tab-panel .panel .panel-title {
    display: none;
  }
}

@media (max-width: 768px) {
  .tab-panel > .panel-title {
    display: none;
  }
}

.tab-panel .panel-content {
  padding: 25px 12px;
  display: none;
  border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #d8d8d8;
}


@media (max-width: 768px) {
  .tab-panel .panel-content {
    padding: 0 12px 25px 12px;
    border: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .tab-panel .active .panel-content {
    display: block;
  }
}

@media (max-width: 768px) {
  .tab-panel .open .panel-content {
    display: block;
  }
}
